header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #d819d0;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header a {
    text-decoration: none;
    color: #da9e16;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  } 

  header nav ul li a:hover {
    background: #07dceb;
    color: #da9e16;
    border-radius: 15px;
    text-shadow: none;
  }

  .hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    }

    .section {
        padding: 60px;
    }

    .content {
        background: #58cc87c7;
    }

    .content h2 {
        font-size: 55px;
        color: #da9e16;
        margin-bottom: 35px;
        padding: 0 100px 20px 100px;
        border-bottom: 3px solid;
        border-color: #39a6b2;    
    }

    
.primary-border {
    border-color: #3f19d8;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }

  .content-info {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 5px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }



